@charset "utf-8";

/* ==========================
   Base style
   ========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
}

/* ==========================
   General styles
   ========================== */


a {
    text-decoration: none;
}

/* ==========================
   Common Header styles
   ========================== */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: red;
}

/* --- ハンバーガーボタン --- */

.hum-button {
    position: absolute;
    left: 0.5%;
    bottom: 4%;
    width: 80px;
    height: 80px;
    background-color: turquoise;
    border-radius: 100%;
}

.hum-button.active {
    position: inherit;
    bottom: 80%;
    width: 600px;
    height: 600px;
    background-color: turquoise;
    transition: 0.6s;

}

.lines__container {
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.line {
    width: 40px;
    height: 12px;
}

.buns-top {
    border-radius: 10% 10% 0 0;
    background-color: gold;
}


.patty {
    border-radius: 10%;
    background-color: chocolate;
}

.buns-bottom {
    background-color: gold;
}

.buns-top.active {
    width: 350px;
    height: 100px;
    border-radius: 85% 85% 5% 5%;
    transition: 0.6s;
    background: -moz-radial-gradient(#F13F79 20%, #FFC778 70%); 
    background: -webkit-radial-gradient(#F13F79 20%, #FFC778 70%); 
    background: radial-gradient(#ffc400 50%, #ffdf75 80%);
}

.patty.active {
    width: 350px;
    height: 65px;
    border-radius: 30%;
    transition: 0.6s;
    background: radial-gradient(#da7d1b 60%, #e69c2d 80%);
}

.buns-bottom.active {
    width: 350px;
    height: 75px;
    border-radius: 0 0 10% 10%;
    background-color: gold;
    transition: 0.6s;
    background: radial-gradient(#ffc400 50%, #ffdf75 80%);
}

.topping {
  display: none;
  width: 300px;
  height: 30px;
}

.topping.active {
    display: block;
    margin: auto;
}

.cheese-photo.active {
    /* display: block; */
    background-color: yellow;
}
.tomato-video {
    /* display: block; */
    background-color: red;
}
.lettuce-form {
    /* display: block; */
    background-color: greenyellow;
}

/* --- クローズボタン --- */
#close-button {
    width: 1px;
    height: 1px;
    visibility: hidden;
}

#close-button.active {
    visibility: visible;
    position: fixed;
    left: 520px;
    bottom: 130px;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    transition: 0.6s;
    background-color: orange;
}

.x-line {
    width: 30px;
    height: 5px;
    background-color: white;
}

/* --- アコーディオン --- */

summary {
    display: block;
    list-style: none;
  }

summary::-webkit-details-marker {
    display: none;
}

/* --- アニメーション --- */

.buns-top.active:hover,
.patty.active:hover {
animation: shake .1s linear;
animation-iteration-count: 4;
}

@keyframes shake {
0% {
    transform: translateX(0);
    transform: translateY(0);
}

40% {
    transform: translateX(-3%);
    transform: translateY(8%);

}

80% {
    transform: translateX(3%);
    transform: translateY(-8%);

}

100% {
    transform: translateX(0);
}
}

/* ==========================
   Index style
   ========================== */

/* ==========================
   Photo Gallery style
   ========================== */



/* ==========================
   Video Gallery style
   ========================== */



/* ==========================
   Form Gallery style
   ========================== */

